{% extends "base.html" %}
{% block content %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

<div class="container">    
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <ul class="nav nav-pills justify-content-around">
                    <li class="nav-item"><a class="btn btn-success float-end btn-sm" href="{% url 'TicketList' %}">Back to List {% bs_icon 'list-ol' size='1.5rem' %}</a></li>
            </ul>
        </div>
    </div>

<div class="container">
    <div class="row"><div class="col-8 offset-2">

        <h3>Log a new ticket</h3></div>
        <div class="col-8 offset-2 card">
            
            <form method="post" class="newTicketForm" style="margin-top: 1.3em;">
                {{ ticket_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}