{% extends "base.html" %}
{% load bootstrap_icons %}
{% block content %}


<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Ticket</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Are you sure?</h3>
            <p>You are about to delete this ticket. If you continue, we will not be able to recover it again.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Don't delete</button>
          <a class="btn btn-danger" href="{% url 'DeleteTicket' ticket_id=ticket.id %}">Continue and delete this ticket</a>
        </div>
      </div>
    </div>
  </div>
  
<div class="container">
    
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <ul class="nav nav-pills justify-content-around">

                    {% if statusForm or teamForm or memberForm %}
                    <li class="nav-item"><a class="btn btn-success float-end btn-sm" href="{% url 'TicketDetail' ticket_id=ticket.id %}">Back to Ticket {% bs_icon 'file-earmark-ruled' size='1.25rem' %}</a></li>
                    {% else %}
                    <li class="nav-item"><a class="btn btn-success float-end btn-sm" href="{% url 'TicketList' %}">Back to List {% bs_icon 'list-ol' size='1.5rem' %}</a></li>
                    {% endif %}
                    {% if user == ticket.author %}
                    <li class="nav-item">
                        <button type="button" class="btn btn-danger float-end btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Delete ticket {% bs_icon 'file-earmark-minus' size='1.25rem' %}
                          </button>
                    {% endif %}


            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header bg-body-tertiary">
                    <div>
                        <span>Ticket #: {{ ticket.id }}</span>
                    </div>
                </div>
                <div class="card-header bg-body-tertiary">
                    <div>
                        <span>Created: {{ ticket.created_on | date:"d/m/Y" }}  by {{ ticket.author }}</span>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Title: {{ ticket.title }}</li>
                    <li class="list-group-item">Content: {{ ticket.content }}</li>

                    {% if user.profile.role == 0 %}
                        <li class="list-group-item">Status: {{ ticket.get_status_display }}</li>
                        <li class="list-group-item">Assigned team: {{ ticket.assigned_team }}</li>
                    {% else %}

                        {% if statusForm %}
                            <li class="list-group-item">
                                <form id="ticketForm" action="{% url 'UpdateStatus' ticket_id=ticket.id %}" method="post">
                                    {% csrf_token %}
                                    {{ statusForm.status }}
                                    {{ statusForm.author.as_hidden }}
                                    <!-- {{ statusForm.assigned_member.as_hiden }} -->
                                    <button class="btn btn-success" type="submit">Save</button>
                                </form>
                            </li>
                        {% elif teamForm or memberForm %}
                            <li class="list-group-item">Status: {{ ticket.get_status_display }}</li>
                        {% else %}
                            <li class="list-group-item">Status: {{ ticket.get_status_display }} <a class="btn btn-success float-end btn-sm" href="{% url 'UpdateStatus' ticket_id=ticket.id %}">Change Status</a> </li>
                        {% endif %}

                        {% if teamForm %}                        
                            <li class="list-group-item">
                                <form id="ticketForm" action="{% url 'UpdateTeam' ticket_id=ticket.id %}" method="post">
                                    {% csrf_token %}
                                    {{ teamForm.assigned_team }}
                                    {{ teamForm.author.as_hidden }}
                                    {{ teamForm.assigned_member.as_hiden }}
                                    <button class="btn btn-success" type="submit">Save</button>
                                </form>
                            </li>
                        {% elif statusForm or memberForm %}
                        <li class="list-group-item">Assigned team: {{ ticket.assigned_team }}</li>
                        {% else %}
                            <li class="list-group-item">Assigned team: {{ ticket.assigned_team }} <a class="btn btn-success float-end btn-sm" href="{% url 'UpdateTeam' ticket_id=ticket.id %}">Change Team</a> </li>
                        {% endif %}

                        {% if memberForm %}
                            <li class="list-group-item">
                                <form id="ticketForm" action="{% url 'UpdateMember' ticket_id=ticket.id %}" method="post">
                                    {% csrf_token %}
                                    {{ memberForm.assigned_member }}
                                    {{ teamForm.author.as_hidden }}
                                    <button class="btn btn-success" type="submit">Save</button>
                                </form>
                            </li>
                        {% elif statusForm or teamForm %}
                        <li class="list-group-item">Assigned member: {{ ticket.assigned_member }}</li>
                        {% else %}
                            <li class="list-group-item">Assigned member: {{ ticket.assigned_member }} <a class="btn btn-success float-end btn-sm" href="{% url 'UpdateMember' ticket_id=ticket.id %}">Change Member</a> </li>
                        {% endif %}

                    {% endif %}
            </div>
        </div>
    </div>
    
</div>


{% endblock %}