{% extends "base.html" %}

{% block content %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    
    <div class="row">
        <div class="col col-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <div>
                        <span>Ticket #: {{ ticket.id }}</span>
                    </div>
                </div>
                <div class="card-header">
                    <div>
                        <span>Created: {{ ticket.created_on | date:"d/m/Y" }}</span>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Title: {{ ticket.title }}</li>
                    <li class="list-group-item">Content: {{ ticket.content }}</li>

                    {% if user.profile.role == 0 %}
                        <li class="list-group-item">Status: {{ ticket.get_status_display }}</li>
                        <li class="list-group-item">Assigned team: {{ ticket.assigned_team }}</li>
                    {% else %}
                        
                    <form id="assignmentForm" action="{% url 'TicketDetail' ticket_id=ticket.id %}" method="post">
                        {% csrf_token %}

                        <!-- <li class="list-group-item">
                            <label for="status" class="form-label">Status: </label>
                            {{ form.status }}
                        </li>

                        <li class="list-group-item">
                            <label for="assigned_team" class="form-label">Assigned team: </label>
                            {{teamForm.assigned_team}}

                            <label for="member" class="form-label">Assigned member:</label>
                            {{memberForm.assigned_member}}
                        </li> -->

                        <li class="list-group-item">
                            {{ statusForm.as_p }}
                        </li>
                        <li class="list-group-item">
                            {{ teamForm.as_p }}
                        </li>
                        <li class="list-group-item">
                            {{ memberForm.as_p }}
                        </li>

                        <li class="list-group-item visually-hidden">
                            <button type="submit" class="btn btn-success btn-ticket-change visually-hidden" id="saveBtn" disabled>Save</button>
                        </li>

                    </form>

                    {% endif %}

                <!-- <div class="card-body">
        
                </div> -->
            </div>
        </div>
    </div>
    
</div>


{% endblock %}