{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col col-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <div>
                        <span>Ticket #: {{ ticket.id }}</span>
                    </div>
                </div>
                <div class="card-header">
                    <div>
                        <span>Created: {{ ticket.created_on | date:"d/m/Y" }}</span>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Title: {{ ticket.title }}</li>
                    <li class="list-group-item">Content: {{ ticket.content }}</li>

                    {% if user.profile.role == 0 %}
                        <li class="list-group-item">Status: {{ ticket.get_status_display }}</li>
                        <li class="list-group-item">Assigned team: {{ ticket.assigned_team }}</li>
                    {% else %}
                        
                        <li class="list-group-item">
                            <form action="{% url 'UpdateStatus' ticket_id=ticket.id %}" method="post">{% csrf_token %}
                            <label for="status" class="form-label">Status: </label>
                            <select name="status" id="status-option" class="form-select">
                                {% for key, value in status_options.items %}
                                    {% if ticket.status == key %}
                                        <option value="{{key}}" selected>{{value}}</option>
                                    {% else %}
                                        <option value="{{key}}">{{value}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-success btn-ticket-change visually-hidden" id="status-save-btn">Save</button>
                        </form>
                        </li>

                        <li class="list-group-item">
                            <form action="{% url 'UpdateAssignment' ticket_id=ticket.id %}" method="post">{% csrf_token %}
                            <label for="team" class="form-label">Assigned team: </label>
                            <select name="assigned_team" id="team" class="form-select">
                                {% for team in teams %}
                                    {% if ticket.assigned_team == team %}
                                        <option value="{{team}}" selected>{{team}}</option>
                                    {% else %}
                                        <option value="{{team}}">{{team}}</option>
                                    {% endif %}
                                {% endfor %}
                                                                
                            </select>
                            <label for="member" class="form-label">Assigned member:</label>


                            <!-- Inserting 1 select per team with possible staff members -->
                            {% for team, members in staff_listing.items %}
                            {% if ticket.assigned_team != team %}
                            <select name="member" id="member" class="form-select visually-hidden" disabled>
                            {% else %}
                            <select name="member" id="member" class="form-select">
                            {% endif %}
                                {% if ticket.assigned_team != team %}
                                    <option disabled value selected></option>
                                    {% for member in members %}
                                    <option value="{{member}}">{{member}}</option>
                                    {% endfor %}
                                {% else %}
                                    <option disabled value></option>
                                    {% for member in members %}
                                    {% if ticket.assigned_member == member and ticket.assigned_team == team %}
                                    <option value="{{ticket.assigned_member}}" selected>{{ticket.assigned_member}}</option>
                                    {% else %}
                                    <option value="{{member}}">{{member}}</option>
                                    {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </select>
                            {% endfor %}
                            
                            <button type="submit" class="btn btn-success btn-ticket-change visually-hidden" id="assignment-save-btn">Save</button>
                            </form>
                        </li>

                    {% endif %}

                <div class="card-body">
        
                </div>
            </div>
        </div>
    </div>
    
</div>


{% endblock %}