/* comment */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

body {    
    font-family: 'Rubik', sans-serif;
}

/* Navbar styling */
.navbar-brand {
    background-color: indigo;
    border-radius: 10px;
    padding:5px;
}
.tickit_header {
    font-family: 'Rubik', sans-serif;
    font-size: xx-large;
    color: limegreen;
}
.nav-item {
    margin: 5px;
    font-size: large;
    text-align: center;
}
.nav-item:hover {
    font-weight: bolder;
 }
/* End of Navbar styling */

/* Landing page styling */
.home-section {
    display: grid;
    width: 100%;
    height: 85vh;
        /* overflow: hidden; */

}
.background {
    background-image: url(https://res.cloudinary.com/dj6z5zmmy/image/upload/v1697477589/static/media/landing-background.9232705898d4.webp);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-top:-1rem;
    background-repeat: no-repeat;
    justify-self:center;
    width: 100%;
    background-position: center;
    position: relative;
    /* overflow: hidden; */
}
/* End of landing page styling */



.main-section {
    background-color: #fff;
    padding-top: 1rem;
}

.newTicketForm {
    margin: 1.25rem 0;
}

.ticketDetailSubmit{
    margin-top: 0.5rem;
}

.list_container{
    padding-top: 1rem;

}

table {
    background-color: #fff;
}

.list_header{
    text-align: center;
    /* background-color: rgb(40, 40, 40);  */
}

.nav-pills .nav-link{
    box-shadow: 0.25rem 0.25rem .5rem rgba(0, 0, 0, .5);
}

#tickets-table {
    box-shadow: 0.25rem 0.25rem .5rem rgba(0, 0, 0, .5);
}
.pagination .current {
    color: #000;
    border: none;
}

.btn-log-ticket {
    background-color: indigo;
    color: limegreen;
}
.btn-log-ticket:hover {
    color: indigo;
    background-color:limegreen;
}

.btn-ticket-change {
    margin-top: .5rem;
    background-color: limegreen;
    color: indigo;
}

/* Footer styling */
footer {
    position:fixed;
    background-color:lightgray;
    width: 100%;
    bottom: 0;
}
.footer_row {
    margin: 0;
    padding: 0;
}
.footer_socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer_socials a {
    font-size: 3rem;
}
footer i {
    color:#fff
}
.footer_brand {
    display: flex;
    background-color: indigo;
    padding: 0;
    /* border-radius: 10px; */
}
.footer_text {
    background-color: slategray;
    color: #fff;
    margin: 0;
    padding: 0;
}
.footer_container {
    /* border-top: 1px solid slategray; */
    padding: 0;
}
/* End of Footer styling */


/* ### Customizing Bootstrap variables ### */
.navbar {
    --bs-navbar-active-color: indigo;
    --bs-tertiary-bg-rgb: 211,211,211;
}
/* .col-12{
    padding:0;
} */

.table-hover td:hover {
    cursor: zoom-in;
}

.card-header {
    --bs-tertiary-bg-rgb: 211,211,211;
}
