/* comment */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

body {    
    font-family: 'Rubik', sans-serif;
}


/* Navbar styling */
.navbar-brand {
    background-color: indigo;
    border-radius: 10px;
    padding:5px;
}
.tickit_header {
    font-family: 'Rubik', sans-serif;
    font-size: xx-large;
    color: limegreen;
}
.nav-item {
    margin: 5px;
    font-size: large;
    text-align: center;
}
.nav-item:hover {
    font-weight: bolder;
 }
/* End of Navbar styling */

.background {
    background-image: url(https://res.cloudinary.com/dj6z5zmmy/image/upload/v1697477589/static/media/landing-background.9232705898d4.webp);
    /* max-width: 100%;*/
    height: 100%;
    /* object-fit: cover; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    overflow: hidden;
}

.main-section {
    background-color: #fff;
    padding-top: 1rem;
}

.list_container{
    padding-top: 1rem;

}

table {
    background-color: #fff;
}

.list_header{
    text-align: center;
    /* background-color: rgb(40, 40, 40);  */
}

.nav-pills .nav-link{
    box-shadow: 0.25rem 0.25rem .5rem rgba(0, 0, 0, .5);
}


.btn-log-ticket {
    background-color: indigo;
    color: limegreen;
}
.btn-log-ticket:hover {
    color: indigo;
    background-color:limegreen;
}

.btn-ticket-change {
    margin-top: .5rem;
    background-color: limegreen;
    color: indigo;
}

/* Footer styling */
footer {
    position:fixed;
    background-color:lightgray;
    width: 100%;
    bottom: 0;
}
.footer_row {
    margin: 0;
    padding: 0;
}
.footer_socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer_socials a {
    font-size: 3rem;
}
footer i {
    color:#fff
}
.footer_brand {
    display: flex;
    background-color: indigo;
    padding: 0;
    /* border-radius: 10px; */
}
.footer_text {
    background-color: slategray;
    color: #fff;
    margin: 0;
    padding: 0;
}
.footer_container {
    /* border-top: 1px solid slategray; */
    padding: 0;
}
/* End of Footer styling */


/* ### Customizing Bootstrap variables ### */
.navbar {
    --bs-navbar-active-color: indigo;
    --bs-tertiary-bg-rgb: 211,211,211;
}
/* .col-12{
    padding:0;
} */


/* ### Hover effect for navbar buttons ### */
.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-radius: 10px;
  }  
  .hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: limegreen;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 10px;
  }
  .hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
    color: white;
  }
  .hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
