{% load bootstrap_icons %}

<footer>
  <div class="container-fluid footer_container">
      <div class="row footer_row">
          <div class="col-8">
              
                <div class="col footer_socials">
                  <a class="btn" href="https://www.facebook.com/" target="_blank" aria-label="Facebook">{% bs_icon 'facebook' size="2rem" color="indigo" %}</a>
                  <a class="btn" href="https://twitter.com/" target="_blank" aria-label="Twitter">{% bs_icon 'twitter' size="2rem" color="indigo" %}</a>
                  <a class="btn" href="https://www.linkedin.com/" target="_blank" aria-label="Linkedin">{% bs_icon 'linkedin' size="2rem" color="indigo" %}</a>
                  <a class="btn" href="https://www.instagram.com/" target="_blank" aria-label="Instagram">{% bs_icon 'instagram' size="2rem" color="indigo" %}</a>
                  <a class="btn" href="https://discord.com/" target="_blank" aria-label="Discord">{% bs_icon 'discord' size="2rem" color="indigo" %}</a>                    
                </div>
              
          </div>
          <div class="col-4 align-self-center justify-content-around footer_brand"><a class="navbar-brand" href="https://pp4-tickit-9f996504db3b.herokuapp.com/"><span class="tickit_header">>_ tick·it </span></a></div>
        </div>
  </div>
  <div class="row footer_text">
    <div class="col-12">
    <!-- <p class="text-center">Some copyright text here</p> -->
    <p class="text-center">{% bs_icon 'c-circle' size='0.75rem' %} Created by <a href="https://github.com/jbocciadev" target="_blank" rel="noopener"
      aria-label="Visit my GitHub page (opens in a new tab)">jbocciadev</a> for <a
      href="https://codeinstitute.net" target="_blank" rel="noopener"
      aria-label="Visit Code Institute's site (opens in a new tab)">Code
      Institute</a>, 2023.</p>
  </div>
  </div>

</footer>
