{% load bootstrap_icons %}

<footer>
  <div class="container-fluid footer_container">
      <div class="row footer_row">
          <div class="col-8">
              
                <div class="col footer_socials">
                  <a class="btn" href="#">{% bs_icon 'facebook' size="2rem" color="indigo" %}</a>
                  <a class="btn" href="#">{% bs_icon 'twitter' size="2rem" color="indigo" %}</a>
                  <a class="btn" href="#">{% bs_icon 'linkedin' size="2rem" color="indigo" %}</a>
                  <a class="btn" href="#">{% bs_icon 'instagram' size="2rem" color="indigo" %}</a>
                  <a class="btn" href="#">{% bs_icon 'discord' size="2rem" color="indigo" %}</a>                    
                </div>
              
          </div>
          <div class="col-4 align-self-center justify-content-around footer_brand"><a class="navbar-brand" href="#"><span class="tickit_header">>_ tick·it </span></a></div>
        </div>
  </div>
  <div class="row footer_text">
    <div class="col-12">
    <p class="text-center">Some copyright text here</p>
  </div>
  </div>

</footer>
