{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="home-section">
    <div class="background">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="card welcome-card position-absolute top-50 start-50 translate-middle">
                        <h1 class="card-title text-center">Welcome to <span class="card-ti">tick·it</span></h1>
                        <p class="card-text">At <span class="card-ti">tick·it</span> our only purpose is to provide you with a customer support that is second-to-none.</p>
                        <p class="card-text">Register with us, log your first ticket and follow it through to closure. We will ensure to provide you with the best technicians and suport agents to resolve your issue as soon as possible and to your satisfaction, 100% guaranteed.</p>
                    </div>
                </div>
            </div>
        </div>

        
        
    </div>
</section>

{% include "footer.html" %}
{% endblock %}
